.tasks-container {
  ul {
    list-style-type: disc;
    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .task-name {
        margin: 10px 0;
        &.completed {
          text-decoration: line-through;
          opacity: 0.3;
        }
      }
      .status {
        margin-left: 15px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        cursor: pointer;
        text-align: center;
        &.delete {
          border: 1px solid red;
        }
        &.done {
          border: 1px solid green;
        }
        &.in-progress {
          border: 1px solid yellow;
        }
      }
    }
  }

}